body{
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(46, 30, 77);
  color: white;
  padding: 10px;
  min-height: 100%;
  margin:0;
  background-image: url("../images/bg.png");
  background-blend-mode: multiply;
}
.header-msg{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.bit8-textfield {
  background-color: #222222;
  border: 2px solid #444444;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 8px;
  text-align: center;
}
.bit8-button {
  background-color: #222222;
  border: 2px solid #444444;
  border-radius: 4px;
  color: #ffffff;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  
}
.bit8-button:hover {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #222222;
  -webkit-box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);
  -moz-box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);
  box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);
}
.body-content{
  text-align: center;
}
#results{
  border:#ffffff solid 4px;
  padding: 10px;
  text-align: center;
  line-height: 3.33em;
  background-color: #222222;
  -webkit-box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);
  -moz-box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);
  box-shadow: 6px -6px 0px 0px rgb(77, 77, 77);

}

.grid-container {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  grid-gap: 10px;
}

.grid-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid-item p {
  text-align: justify;
}

input::placeholder
{
  font-size: 10px;
}

#results {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  padding: 10px; /* Optional: padding for better readability */
  border: 1px solid #ccc; /* Optional: border for better readability */
  font-family: monospace; /* Optional: use a monospaced font for better readability */
  overflow: auto; /* Optional: scroll bar if content overflows */
}

#results table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

#results th, #results td {
  padding: 12px 15px;
  border: 1px solid #000000;
}


#results tr:nth-child(even) {
  background-color: #000000b6;
}
#results th:hover
{
  color: coral;
}

#results tr:hover {
  background-color: #f1f1f1;
  color: #000000;
}
